VERSION=V1.0

# DATABASE URL
DATABASE_PROTOCOL="postgresql+asyncpg"
DATABASE_USERNAME="postgres"
DATABASE_PASSWORD=""
DATABASE_HOST="127.0.0.1"
DATABASE_PORT=5432
DATABASE_NAME="bookly_db"

# API Server Config
HOST="http://127.0.0.1"
PORT=8000
RELOAD=True # True (for development {Values = False, True})
RELOAD_DIRS=["./src"]
RELOAD_INCLUDES=["*.py"]
