VERSION=V1.0

# DATABASE URL
DATABASE_URL=

# API Server Config
HOST="http://127.0.0.1"
PORT=8000
RELOAD=True # True (for development {Values = False, True})
RELOAD_DIRS=["./src"]
RELOAD_INCLUDES=["*.py"]
